<div class="container">

  <%= render "shared/page_title", title: @recipe.name %>
  
  <div class="well col-md-8 col-md-offset-2">
    <div class="center"><%= image_tag @recipe.image.url if @recipe.image? %></div> 
    <hr>
    <h4 class="center description"><strong>Steps: </strong></h4> 
    <hr>
    
    <div><%= simple_format(@recipe.description) %></div>
    <hr>
    
    <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients %></p>
    <% end %>
    
    <div class="pull-right">
      <p class="center">
        <em>Created by:</em> 
      </p>
      <p class="center">
        <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
      </p>
      <p class="center">
        <small><%= @recipe.chef.chefname.capitalize %></small>
        <div class="pull-right">created: <%= time_ago_in_words(@recipe.created_at) %> ago</div>
      </p>
    </div>
    
    <div class="recipe-actions">
      <%= link_to like_recipe_path(@recipe), method: :put do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Likes:</span>
          <%= @recipe.get_upvotes.size %>
      <% end %> 
      &nbsp;
      <%= link_to dislike_recipe_path(@recipe), method: :put do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Dislikes:</span>
          <%= @recipe.get_downvotes.size %>
      <% end %>
      <br />
      <br />
      
      <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
        <%= link_to '[ edit this recipe ]', edit_recipe_path, class: "btn btn-warning" %>
        <%= link_to 'delete this recipe', recipe_path(@recipe), method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
    
  </div>
  
  <% if logged_in? %>
    
      <div class="col-md-8 col-md-offset-2">
        <h3>Comment: </h2>
        <hr>
        <%= form_for [@recipe, @comment], remote: true do |f| %>
          <div class="form-group">
            <div class="control-label col-md-2"><%= f.label :comment %></div>
            <div class="col-md-10" ><%= f.text_area :description, class: "form-control", rows: 3, placeholder: "Enter comment" %></div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-8 back-link"><%= f.submit "submit comment", class:"btn btn-default btn-xl" %></div> 
          </div>
        <%  end %>
      </div>
   
  <% end %>
  
  <% if @recipe.comments.any? %>
    <div class="col-md-8 col-md-offset-2">
      <h3>Prior Comments: </h3>
      <div id="comments">
        <div id="messages">
          <%= render partial: 'comments/comments', object: @comments %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-md-8 col-md-offset-2">
      <h3>No Comments Yet!</h3>
    </div>
  <% end %>
  
  



